#links{
    padding: 2%;
}

.navbtn:hover{
    background-color: #777777;
    border-radius: 5%;
    transition: border-bottom 0.7s;
}

.fonte-inter{
    font-family: 'Inter', sans-serif;
}

#btn-disp{
    background-color: #9BF00B;
	border-color: #9BF00B;
	color: black;
    border-radius: 5%;
    transition: 1s;
}

#btn-disp:hover{
    border-color: #9BF00B;
    color: white;
    background-color: #0C0C0C;
    transition: 1s;
}

#console{
    width: 60%;
}

#controle{
    width: 55%;
}

.games{
    width: 90%;
    transition: 1s;
}

.games:hover{
    box-shadow: 0px 0px 9px 5px #9BF00B;
    opacity: 0.3;
    transition: 1s;
}

.center{
    display: flex;
    justify-content: center;
    transition: 1s;
}

.accordion > .accordion-item, #perguntas{
    background-color: #0C0C0C;
    color: #C0C0C0;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239BF00B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

  

.pergunta{
    color: white;
}